button{
    background: ghostwhite;
    border: none;
}


button:hover{
    background-color: cornflowerblue;
    color: ghostwhite;
    transition:2s
}

/* bonus is a work in progress when rewriting the code from the source example it does not funciton exaclty as that one. also currently breaking apart every peice of the code to understand why and what was used to acheive this effect */
.caption {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
  }

  .caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
  }

  .caption:hove::before{
    background: rgba(0, 0, 0, .5);
  }
  
  .ani-img{
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  .ani-text{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
  }

  .caption:hover .ani-text {
    transform: translateY(0);
  }

  .ani-text-header{
    margin: 0;
    padding: 0 0 12px;
    transform: translateY(calc(-100% - 10px)); /* +10px overlay padding */
    transition: transform .35s ease-out;  
  }

  .ani-text-paragraph{

  }


  .caption:hover .ani-text-paragraph{
    transform: translateY(0);
  }